1) Frontend interfaces: The frontend of this project is coded in
  i) HTML and CSS
  ii) BOOTSTRAP4 (a CSS framework for styling)
  iii)jQuery to execute ajax on webpages

2) Backend:
    Django: Django is web application framework written in PYTHON. It has 
            inbuilt template engine which can be used to design front-end.

3) Networking Protocols: HTTPS/HTTP
4) Database: sqlite3
5) Ajax is used to create dynamic urls and load pages periodically
